<%= turbo_stream_from :prompts %>

<p style="color: green"><%= notice %></p>
<b><%= @quiz.name %></b>
<br>
There are currently <b><%= @quiz.prompts.count %></b> questions in this quiz
<br>

<p><%= link_to "Take this quiz", quiz_path(@quiz) %></p>
<br>

<%= turbo_frame_tag :prompt_form do %>
    <%= render "prompts/form", prompt: @prompt %>
<% end %>

<% if @quiz.prompts.count > 0 %>
    <b>Current Questions for this quiz</b>
    <%= turbo_frame_tag :prompts do %>
        <%= render @prompts %>
    <% end %>
<% end %>