<%= turbo_stream_from :prompts %>

<p style="color: green"><%= notice %></p>
There are currently: <b><%= @quiz.prompts.count %></b> questions in this quiz
<br>
Add your questions for quiz <%= @quiz.id %>
<p><%= link_to "Take this quiz", quiz_path(@quiz) %></p>
<br>

<%= turbo_frame_tag :prompt_form do %>
    <%= render "prompts/form", prompt: @prompt %>
<% end %>

<b>Current Questions for this quiz</b>
<%= turbo_frame_tag :prompts do %>
    <%= render @prompts %>
<% end %>