<p style="color: green"><%= notice %></p>

<% if @owned_quizzes.present? %>
  <h1>Quizzes you've made</h1>
  <div id="quizzes">
    <% @owned_quizzes.each do |quiz| %>
    
      <p>
        <%= link_to "#{quiz.name}", quiz %>
      </p>
    <% end %>
  </div>
<% end %>

<% if @subscribed_quizzes.present? %>
  <h1>Quizzes you've subscribed to</h1>

  <div id="quizzes">
    <% @subscribed_quizzes.each do |quiz| %>
    
      <p>
        <%= link_to "#{quiz.name}", quiz %>
      </p>
    <% end %>
  </div>
<% end %>
<h1>All Quizzes</h1>

<div id="quizzes">
  <% @quizzes.each do |quiz| %>
   
    <p>
      <%= link_to "#{quiz.name}", quiz %> 
      <% unless quiz.subscribe %>
        <%= link_to "Subscribe", subscribe_path(quiz) %>
      <% end %>
    </p>
  <% end %>
</div>

<%= link_to "Create new Quiz", new_quiz_path %>
